{% extends 'template.html.twig' %}
{% block titleNav %} {{ 'Course' }} {%  endblock %}
{% block title %} Home | {{ parent() }} {% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="offset-3 col-6">
                <h1> Liste de courses</h1>
                <br>
                <div class="row">
                    <div class="col-6">
                        <!-- C'est ici que le formulaire peut être placé -->
                    </div>
                    <div class="col-2">
                        <!-- <a href="{{ path('course_add') }}">Ajouter</a> -->
                    </div>
                </div>
                <br>
                {% if id is defined %} {{ id }} {% endif %}
                <table  class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tab1">
                    {% for c in courses %}
                        <tr class="{% if c.status %}table-danger {% endif %}">
                            <td>{{ c.title }}</td>
                            <td>
                                <a href="{{ path('course_delete', {'id':c.id }) }}">Supprimer</a>
                                <a href="{{ path('course_update', {'id':c.id }) }}">Modifier Status</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}