{% extends 'template.html.twig' %}
{% block titleNav %} {{ 'Home' }} {%  endblock %}
{% block title %} Home | {{ parent() }} {% endblock %}
{% block main %}
    <h2>Homepage</h2>
    <h3>Nous sommes le {{ date }}</h3>
    {% for c in couleurs %}
        <p>{{ c.title }}</p>
        <p>{{ c.tendance }}</p>
    {% endfor %}
{% endblock %}
